@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.logo {
	float: left;
	height: 120px;
	width: 100px;
	
}

body{
	width: auto;
	margin: 0px auto;
}
.subbar {
	width:1500px;
	margin: 0px auto;
}


h1{
	margin:0px;
	padding-top:100px;
}

.Wholeblock{
	width: 1500px;
	margin: 0px auto;
	
}

.block{
	width:1100px;
	margin: 0px auto;
	text-align:center;
}

.firstblock{
	width:1100px;
	margin: 0px auto;
}
#navbar{
	
	height: 60px;
	width: 100%;
	display: inline;
	padding-top: 3px;
	padding-bottom: 3px;
	Background-color:Black;
	color: #fff;
	position:fixed;
	z-index: 1;
}

#navbar ul{
	
	height: inherit;
	margin-top: 0px;
	margin-bottom: 0px;
	
	
}

#navbar li{
	display:inline;
	
	margin: 0 px;
    height: inherit;
}



#blog {
	font-size: 40px;
	
	margin-left: 4px;
	margin-bottom: 6px;
	position: relative;
	top:5px;
	
}
#navbar a{
	color:#fff;
	font-weight:bold;
	text-decoration: none;
	font-size: 20px;
	margin: 0 px;	
	padding-right: 70px;
	padding-left:60px;
}

.socialmedia {
	width:1100px;
	margin:auto;
	position:relative;
	top:20px;
	text-align:center;
}

.socialmedia > div{
	margin: 3px;
	margin-bottom: 10px;
	width:50px;
	height:50px;
	background:#eee;
	text-align:center;
	line-height:50px;
	border-radius:50%;
	color:#fff;
	transition:all 300ms ease-in-out;
}
div.fa-facebook{
	background:#5252b8;
	
}
div.fa-twitter{
	background:#00acee;;
}
div.fa-google-plus{
	background:tomato;
}

div.fa-linkedin{
	background:#55acee;
}

div.fa-facebook:hover{
	color:#5252b8;
	background:#fff;
	border:1px solid #5252b8;
	
}
div.fa-twitter:hover{
	color:#5252b8;
	background:#fff;
	border:1px solid #5252b8;
	
}
div.fa-google-plus:hover{
	color:#5252b8;
	background:#fff;
	border:1px solid tomato;
}

div.fa-linkedin:hover{
	color:#5252b8;
	background:#fff;
	border:1px solid #5252b8;
	
}
.bottomtext{
	width: 1100px;
	margin:auto;
	text-align:center;
}